<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title == "" ? "VSShareβ" : ViewBag.Title + " | VSShareβ")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/analytics.js"></script>
    @RenderSection("styles", required: false)
    <link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="VSShareはリアルタイムにエディタのコードを共有できるWebサービスです。" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VSShare　β", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Room", "Index", "Rooms")</li>
                    <li>@Html.ActionLink("Docs", "Index", "Documents")</li>
                    <li>@Html.ActionLink("Credit", "Credit", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @RenderSection("outcontainer", required: false)
    <footer class="bs-docs-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>VSShare</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>VSShareはリアルタイムにエディタのコードを共有できるWebサービスです。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-inline">
                        <li><a href="@Url.Action("Details","Documents", new { name = "About" })">About</a></li>
                        <li><a href="@Url.Action("Index", "Rooms")">ルーム一覧</a></li>
                        <li><a href="@Url.Action("Index", "Documents")">ドキュメント</a></li>
                        <li><a href="@Url.Action("Credit","Home")">お問い合わせ</a></li>
                        <li><a href="@Url.Action("ServiceAgreement", "Home")">利用規約・プライバシーポリシー</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 small" style="margin: 10px 0 10px;">
                    &copy; 2015 VSShare Project. @Html.ActionLink("Credit", "Credit", "Home",null,null)
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="//bowercdn.net/c/jquery-autosize-1.18.18/jquery.autosize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
