@model Server.Models.Room

@{
    ViewBag.Title = "ルームの削除";
}

<h2>ルームの削除</h2>
<div class="row">
    <div class="col-sm-12">
        <h3>削除するルーム</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalVisitor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalVisitor)
            </dd>

        </dl>
        <hr />

        <p>
            <strong>本当に削除してもよろしいですか？この操作は取り消すことができません。</strong>
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions col-sm-offset-4 col-sm-8">
                <input type="submit" value="削除" class="btn btn-danger" />
                @Html.ActionLink("キャンセル", "Details", new { name = Model.Name }, new {@class = "btn btn-default"})
            </div>
        }
    </div>
</div>
