@model Server.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>アカウント設定の変更</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>パスワード:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("パスワードの変更", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("作成", "SetPassword")
            }
            ]
        </dd>
        <dt>外部ログイン:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("管理", "ManageLogins") ]
        </dd>
    </dl>
</div>
